[Unit]
Description=Arpwatch ethernet/IP address tracking on %I
After=syslog.target network-online.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/arpwatch
PrivateTmp=yes
ExecStart=/usr/sbin/arpwatch $OPTIONS -i %i -f /var/lib/arpwatch/arp_%i.dat

[Install]
WantedBy=multi-user.target
